

/* Font
----------------------------------------------------------------------------- */

@font-face {
  src: url("../fonts/Montserrat-Arabic-Regular.woff2") format("woff2");
  font-family: "Montserrat-Arabic";
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: var(--font--family);
  font-style: var(--font--style);
  font-weight: var(--font--weight);
  font-feature-settings: var(--font--feature-settings);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: var(--font--size-regular);
  line-height: var(--font--size-regular-line-height);
}

.numeral-8 {
  font-feature-settings: var(--font--feature-settings-no-stylized-numeral-8);
}

.opening-quote-mark {
  margin-left: var(--font--margin-left-opening-quote-mark);
}


